{% if (ssh_keys is defined) and ssh_keys %}
ssh_authorized_keys:
{% for ssh_key in ssh_keys %}
- "{{ ssh_key }}"
{% endfor %}
{% endif %}
write_files: # template this
- path: /var/lib/connman/default.config
  owner: root:root
  content: |-
    [service_{{ansible_default_ipv4.alias}}]
    Type=ethernet
    IPv4={{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.netmask }}/{{ ansible_default_ipv4.gateway}}
    IPv6=off
    MAC={{ ansible_default_ipv4.macaddress }}
{% if (nameservers is defined) and nameservers %}
    Nameservers={{ nameservers | join "," }}
{% endif %}
hostname: {{ ansible_fqdn}}

k3os:
  sysctl:
    kernel.printk: "4 4 1 7"
    kernel.kptr_restrict: "1"
{% if (nameservers is defined) and nameservers %}
  dns_nameservers: # do note, k3os wants dns_nameservers, not nameservers
{% for nameserver in nameservers %}
  - {{ nameserver }}
{% endfor %}
{% endif %}
{# {% if (timeservers is defined) and timeservers %}
  ntp_servers:
{% for timeserver in timeservers %}
  - {{ timeserver }}
{% endfor %}
{% endif %}
#}
  password: {{ password }}
{% if (k3os_server_url is defined) and k3os_server_url %}
  server_url: {{ k3os_server_url }}
{% endif %}
{% if (k3os_token is defined) and k3os_token %}
  token: {{ k3os_token }}
{% endif %}

  k3s_args: # do note, k3os wants dns_k3s_args, not k3s_args
{% if (k3s_args is defined) and k3s_args %}
{% for arg in k3s_args %}
  - {{ arg }}
{% endfor %}
{% else %}
  - server
{% endif %}
{% if (k3s_taints is defined) and k3s_taints %}
  taints:
{% for each in k3s_taints %}
  - {{ each }}
{% endfor %}
{% endif %}
